body{
    background-color: #fbfbfb;
}

form{
    text-align: center;
    padding-top: 300px;
}

.search-box{
    width: 600px;
    height: 50px;
    border-radius: 30px;
    position: relative;
    padding-left: 50px;
    background-color: #fff;
    border: 1px solid  #eceff8;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1)
}

.icon-1{
    position: relative;
    right: 580px;
}

.icon-2{
    position: relative;
    right: 60px;
    color: blue;
}